/* Define your theme modifications inside next mixin */
@mixin com_company_quarium-helium-ext {
$cuba-highlight-primary-action: false;


.passed-result {
     color: #36ab80;
}

.failed-result {
     color: #ff647c;
}

.blocked-result {
     color: #ffa500;
}

.skipped-result {
     color: #a0aac0;
}

.bright-disabled {
      color: #4f5c78 !important;
 }

 .helium .v-textarea.v-disabled .bright-disabled {
     color: #4f5c78 !important;
 }

 .helium .v-textfield.v-disabled .bright-disabled {
     color: #4f5c78 !important;
 }
}