<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="quarium" transaction-type="RESOURCE_LOCAL">

        <class>com.company.quarium.entity.project.Project</class>
        <class>com.company.quarium.entity.references.Qa</class>
        <class>com.company.quarium.entity.project.QaProjectRelationship</class>
        <class>com.company.quarium.entity.references.Priority</class>
        <class>com.company.quarium.entity.references.Statement</class>
        <class>com.company.quarium.entity.checklist.Checklist</class>
        <class>com.company.quarium.entity.checklist.TestCase</class>
        <class>com.company.quarium.entity.references.Configuration</class>
        <class>com.company.quarium.entity.project.ConfigurationProjectRelationship</class>
        <class>com.company.quarium.entity.project.Module</class>
        <class>com.company.quarium.entity.checklist.Step</class>
        <class>com.company.quarium.entity.checklist.RegressChecklist</class>
        <class>com.company.quarium.entity.checklist.SimpleChecklist</class>
        <class>com.company.quarium.entity.project.ProjectVersion</class>
        <class>com.company.quarium.entity.project.SimpleProject</class>
        <class>com.company.quarium.entity.references.Dbms</class>
        <class>com.company.quarium.entity.references.ThesisVersion</class>
        <class>com.company.quarium.entity.project.Milestone</class>
        <class>com.company.quarium.entity.project.TestRun</class>
    </persistence-unit>
</persistence>
